{
    attributes = (
        {
            columnName = id; 
            externalType = int; 
            name = id; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = in_static_time; 
            externalType = int; 
            name = inStaticTime; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = in_time_by_frame; 
            externalType = int; 
            name = inTimeByFrame; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = machine_name; 
            externalType = varchar; 
            name = machineName; 
            valueClassName = NSString; 
            width = 255; 
        }, 
        {
            allowsNull = Y; 
            columnName = out_frames_to_add; 
            externalType = int; 
            name = outFramesToAdd; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = out_frames_to_add_by_frame; 
            externalType = double; 
            name = outFramesToAddByFrame; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            allowsNull = Y; 
            columnName = out_static_time; 
            externalType = int; 
            name = outStaticTime; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = out_time_by_frame; 
            externalType = double; 
            name = outTimeByFrame; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            allowsNull = Y; 
            columnName = process_frames_to_add; 
            externalType = int; 
            name = processFramesToAdd; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = process_frames_to_add_by_frame; 
            externalType = double; 
            name = processFramesToAddByFrame; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            allowsNull = Y; 
            columnName = process_static_time; 
            externalType = int; 
            name = processStaticTime; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = process_time_by_frame; 
            externalType = double; 
            name = processTimeByFrame; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = type; 
            externalType = varchar; 
            name = type; 
            valueClassName = NSString; 
            width = 255; 
        }
    ); 
    attributesUsedForLocking = (
        id, 
        inStaticTime, 
        inTimeByFrame, 
        processFramesToAdd, 
        processFramesToAddByFrame, 
        processStaticTime, 
        processTimeByFrame, 
        outFramesToAdd, 
        outFramesToAddByFrame, 
        outStaticTime, 
        outTimeByFrame, 
        machineName, 
        type
    ); 
    className = ImageSequenceTreatmentMachine; 
    classProperties = (
        inStaticTime, 
        inTimeByFrame, 
        processFramesToAdd, 
        processFramesToAddByFrame, 
        processStaticTime, 
        processTimeByFrame, 
        outFramesToAdd, 
        outFramesToAddByFrame, 
        outStaticTime, 
        outTimeByFrame, 
        machineName, 
        type
    ); 
    externalName = image_sequence_treatment_machine; 
    fetchSpecificationDictionary = {}; 
    isAbstractEntity = Y; 
    name = ImageSequenceTreatmentMachine; 
    primaryKeyAttributes = (id); 
}
